@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@600&display=swap');
*{
  font-family: 'Hanken Grotesk', sans-serif;
}
body{
  margin: 0;
}
p, button{
  font-size: 1em;
}
main{
  height: 400px;
  width: 600px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 15px 15px 35px rgba(87, 148, 191, 0.146);
  border-radius: 25px;
}
.left-section{
  background: linear-gradient(hsl(254, 92%, 62%), hsl(241, 81%, 54%));
  position: absolute;
  padding: 5%;
  right: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.left-section h3{
  margin-top: 0;
}
.result{
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.05));
  margin: auto;
  width: 125px;
  height: 125px;
  border-radius: 100px;
  padding: 15px ;

}
.result span{
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.result p{
  margin-top: 0px;
}
.transparent{
  opacity: 0.5;
}
.description h2{
  font-weight: 500;
  margin-bottom: 0;
}
.description p{
  margin-top: 10px;
  padding: 5px;
}
.right-section{
  background: hsl(0, 0%, 100%);
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 10px 30px 20px 30px;
  border-radius: 25px;
 }
 .block{
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
  width: 220px;
  height: 42px;
 }
 .red{
  color: hsla(0, 100%, 67%,0.6);
  background: hsla(0, 100%, 67%, 0.05);
 }
 .yellow{
  color: hsla(39, 100%, 56%,0.6);
  background: hsla(39, 100%, 71%, 0.1);
 }
 .green{
  color: hsla(166, 100%, 37%,0.6);
  background:hsla(166, 100%, 37%, 0.05);
 }
 .purple{
  color: hsla(234, 85%, 45%,0.6);
  background:hsla(234, 85%, 45%, 0.05)
 }
 .summary-overall{
  display: flex;
  flex-direction: column;
 }
 .summary-overall h3{
  opacity: 0.7;
 }
 .summary-overall img{
  padding: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
 }
 .block span:nth-of-type(1){
  color: hsla(0, 0%, 0%, 0.7);
  margin-left: auto;
  margin-right: 10px; 
 }
 .block span:nth-of-type(2){
  color: hsl(0, 0%, 44%);
  margin-right: 10px;
 }
 .button-box{
  display: flex;
  justify-content: center;
 }
 button{
  font-size: small;
  position: absolute;
  background-color: hsl(230, 29%, 28%);
  width: 210px;
  height: 40px;
  padding: 0;
  margin: 30px 20px 20px 20px;
  border: 0;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
 }
 .attribution{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .block{
  --b: 1.5px;   /* thickness of the border */
  --c: hsl(0, 3%, 48%);   /* color of the border */
  --w: 9px;  /* width of border */
  --r: 9px;  /* radius */
  

  padding: var(--b); /* space for the border */
  
  position:relative;
}
.block::before{
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c,hsl(0, 3%, 48%));
  padding: var(--b);
  border-radius: var(--r);
  opacity: 0.12;
  margin: -0.5px;
  -webkit-mask:
    linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
    linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
}

@media only screen and (max-width: 375px){
  .attribution{
    display: none;
  }
  main{
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }
  .left-section{
    position: static;
    border-radius: 0px 0px 25px 25px;
  }
  .right-section{
    position: static;
    border-radius: 0;
  }
  .block {
    box-sizing: border-box;
    width: 100%;
  }
  button{
    position: static;
  }
}
